@model eValorados_Web.Models.Movimiento

@{
    ViewBag.Title = "AutoAbastecimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>AutoAbastecimiento</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Valorado</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Cantidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cantidad)
                @Html.ValidationMessageFor(model => model.Cantidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtroMotivoMovimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtroMotivoMovimiento)
                @Html.ValidationMessageFor(model => model.OtroMotivoMovimiento)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ACEPTAR" class="btn btn-default" />
            </div>
        </div>
    </div>
}