@model eValorados_Web.Models.Valorado

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Valorado</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2">Tipo de valorado</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoValorado.Id, new SelectList((IEnumerable<eValorados_Web.Models.TipoValorado>)ViewData["TipoValorado"], "Id", "Descripcion", Model.TipoValorado.Id))
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdentificadorAdicional, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdentificadorAdicional)
                @Html.ValidationMessageFor(model => model.IdentificadorAdicional)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActivo)
                @Html.ValidationMessageFor(model => model.IsActivo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
