@model IEnumerable<eValorados_Web.Models.Valorado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Valorados</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Tipo Valorado
        </th>
        <th>
            Descripción
        </th>
        <th>
            Identificador Adicional
        </th>
        <th>
            Activo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoValorado.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentificadorAdicional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActivo)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
