@model IEnumerable<eValorados_Web.Models.MotivoMovimiento>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Crear nuevo Index", "Create")
</p>
<div class="panel panel-default">
	<div class="panel-body">
		<table class="table">
		<thead>
			<tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
								<th>
					@Html.DisplayNameFor(model => model.Descripcion)
				</th>
								<th>
					@Html.DisplayNameFor(model => model.IsActivo)
				</th>
						<th></th>
			</tr>
		</thead>
		<tbody>
		@foreach (var item in Model) {
            
			<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
								<td>
					@Html.DisplayFor(modelItem => item.Descripcion)
				</td>
								<td>
					@Html.DisplayFor(modelItem => item.IsActivo)
				</td>
						<td>
					@Html.ActionLink("Modificar", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
				
				</td>
					</tr>
		}
		</tbody>
		</table>
	</div>
</div>
